<p id="notice"><%= notice %></p>

<div class="container">

<h1>Website Name</h1>
<h3>Add New Photo</h3>

<%= render 'form', photo: Photo.new %>

<% @photos.reverse_each do |photo| %>
  <div class='col-md-4'>
    <%= image_tag photo.url, class: "img-responsive"%> </br>
    <%= link_to 'Show', photo %>
    <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

</div>
