<p id="notice"><%= notice %></p>


<div class="container">

<h1>Photos</h1>

<h2>Title</h2>
<p>Url</p>

<div class="photo_container">

<% @photos.each do |photo| %>
<%= photo.title %>
<%= image_tag photo.url %> </br>
<%= link_to 'Show', photo %>
<%= link_to 'Edit', edit_photo_path(photo) %>
<%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>

<%= link_to 'New Photo', new_photo_path %>

</div>
