<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @photo.url %>
</p>

<h1 class="lead">
  <%= @photo.title %>
</h1>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
